

  <div style= "margin-top:10%;" class = 'row col-sm'><div class='col-6 offset-3 text-center' ><h2>Register New Volunteer</h2></div></div>

  
<%= form_with(model: volunteer, local: true) do |form| %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% volunteer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>
  <form>
  <div id="" class='jumbotron row  col-sm-9 offset-2'>
  
  <div id = "Ndiv" class="form-group col-sm-2" >
    <label >ID:</label>
    <input class='form-control' type='text_field' <%= form.text_field :volunteerId, id: :volunteer_volunteerId %> 
  </div>

  <div id="Ndiv" class="form-group col-sm-4">
    <label>First Name:</label>
    <input class = 'form-control' type='text_field' <%= form.text_field :firstName, id: :volunteer_firstName %>
  </div>

  <div id="Ndiv" class="form-group col-sm-4">
    <label>Last Name: </label>
    <input class='form-control' type='text_field' <%= form.text_field :lastName, id: :volunteer_lastName %>
  </div>
  
  <div id="Ndiv" class="form-group col-sm-4">
    <label>Type:</label>
    <input class='form-control' type='text_field' <%= form.text_field :volType, id: :volunteer_volType %>
  </div>
  
  <br />
  
  <div id="Ndiv" class="row">
  <div id="Ndiv">
  <button type = '<%= form.submit %>' class='btn btn-sm '>Create </button>
  </div>  
  </div>
  </div>
  
  
  
  </form>
<% end %>

