<style>
.jumbotron {
  background-color: white;
  margin-top: 10%;
}
</style>

<%= form_for :hour , remote: true do |form| %>
  <% if hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
      <% hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="jumbotron col-10 offset-1 ">
  <h1 class="col-4 offset-4">Log Hours</h1>
  <br>
    <h4 class="col-6 offset-2">Search by name or ID:</h4>
    
    <div class="row">
    <input id="name" type="search" class="form-control   col-3 offset-2" placeholder="Enter Name">
    <input id="id" type="search" class="form-control  col-2 offset-1 " placeholder="ID">
    
    </div>
    <br>
  <div id="result" >
    
  </div>
  
  <div id="form1" >

    <div class="row">
    <label class="col-3 text-right vcenter ">Volunteer ID: </label>
    <%= form.number_field :volunteer_id, id: :hour_volunteer_id, :class=>"form-control col-1" %>

    <label class="col-3 text-right">Hours Worked:</label>
      <%= form.text_field :hoursWorked, id: :hour_hoursWorked, :class=>"form-control col-1"%>
    </div>
    <br>
     <%= form.text_field :section_id %>
    <div class="row">
      <label class="col-3 text-right">Day Worked:</label>
      <%= form.date_field :weekWorked, id: :hour_weekWorked, :class=>" datepicker form-control col-3"%>
    </div>
    <br>
      
      <%= form.submit  :class=>"btn col-2 offset-1" %>
      <%= link_to "Back", "/admins/dashboard", :class=>"btn col-2 offset-6"%>

</div>
<% end %>

<script>
  var data = <%= @volunteers.to_json.html_safe %>
  $("#")
  $(document).ready(function(){
  

  var list = "<ul id='mylist' class='list-unstyled'>";
  $.each(data, function(key, obj){
    list += "<li class='' id='"+ obj.firstName + " " + obj.lastName+ "' ><h3>"+ obj.id + "|<small> " + obj.firstName + " " + obj.lastName+ "</small></h3></li>";
  });
  list +="</ul>";
  
  $("#result").html(list);

  $("#mylist li").each(function(){
    $(this).hide();
  });
  });
  
  


  $("#name ").keyup(function(e){
    $("#mylist li").each(function(){
      var str = this.id.toLowerCase();
   
      var filter = e.target.value.toLowerCase();
      var res = str.match("(.*|\s?)"+filter+".*");
      if(e.target.value == "")
        $("#result").hide();
      else
        $("#result").show();
      if(res != null)
        $(this).show();
      else
        $(this).hide();
    });
  });

$("h3").click(function(e){
 alert(e.target.value);
});

</script>




  

  

  
