<%= form_with(model: volunteer_description, local: true) do |form| %>
  <% if volunteer_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer_description.errors.count, "error") %> prohibited this volunteer_description from being saved:</h2>

      <ul>
      <% volunteer_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div id="" class="jumbotron row col-sm-9 offset-2">
    <div class="row col-12">
      <h2 class="col-3 offset-4">Descriptions</h2>
    </div>

    <div>
      <br>
      <form>
        <div class="row col-12">
          <label class="col-3 text-right">ID:</label>
          <%= form.text_field :volunteerId, id: :volunteer_description_volunteerId,
           :class=>"col-2 form-control" %>
        
        
        
          <label class="col-2 text-right">Date Available:</label>
          <%= form.date_select :datesAvail, id: :volunteer_description_datesAvail, :class=>"col-2 form-control" %>
        </div>
        <br>
        <div class="row col-12">
          <label class="col-3 text-right">Extra Info:</label>
          <%= form.text_area :infoVolunteer, id: :volunteer_description_infoVolunteer, :class=>"col-9 form-control" %>
        </div>
        <br>

        <div class="row col-12">

        <%= form.submit :class=>"btn col-5 offset-1" %>
        <%= link_to "Back", "/admins/dashboard", :class=>"btn col-2 offset-3" %>
      </div>
      </form>
    </div>
    
  </div>


<% end %>
